a,
a:hover{
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
h1{
    font-family: 'Raleway', sans-serif;
}
/*********** Header *************/

header{
    /*box-shadow: 0px 7px 10px rgba(204, 204, 204, 0.45);*/
    position: relative;
    z-index: 999;
}
.logo{
    width: 180px;
    height: 200px;
    /*float: left;*/
    background: url('../images/logo.jpg') center no-repeat;
    background-size: cover;
    margin: 0 auto;
}
.logo img{
    max-width: 100%;
}
.menu{
    position: absolute;
    width: 100%;
    /* bottom: 169px; */
    top: 600px;
}
.main_menu{
    background: #232323 !important;
}
.main_menu ul{
    margin-bottom: 0;
    text-align: center;
}
.main_menu ul li{
    display: inline-block;
}
.main_menu ul li a{
    padding: 15px 20px;
    display: block;
    color: #fff !important;
    text-transform: uppercase;
}
.main_menu ul li a:hover{
    background: #ad0101;
}
.active{
    background: #ad0101;
}
/********** Banner ************/

.banner{
    background: url('../images/slid_1.jpg') center no-repeat;
    height: 645px;
    width: 100%;
    position: relative;
    top: 0;
    background-size: cover;
}
.banner .caption{
    font-size: 28px;
    text-align: center;
    display: grid;
    margin-top: 80px;
}
.text{
	padding: 50px;
	margin: 50px;
	font-size: 30px;
  line-height:200%;
}
.text h1,
.text h2{
	color: #fff;
	font-weight: bold;
    float: left;
    font-size: 55px;
}
.text h2{
    margin-left: 20px;
   /* color: #00BF5C;*/
}
.introduction{
    padding: 50px 0px;
    background: #fff;
    text-align: center;
}
.introduction .we_are{
   width: 70%;
    margin: 0 auto;
}
.introduction h1{
    margin-bottom: 30px;
}
.introduction p{
    line-height: 24px;
}
.whats_new{
    padding: 65px 0px;
    text-align: center;
    width: 100%;
    background: url('../images/-Clausura-CU-w-pencils-1.jpg') center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0 auto;
}
.whats_new h1{
    color: #4c4c4c;
    margin-top: 0;
    /*margin-bottom: 25px;*/
    padding-bottom: 10px;
    border-bottom: 1px solid;
}
.wht_box{
    border-radius: 20px;
    background: #fff;
    padding: 30px 35px;
    width: 80%;
    margin: 0 auto;
    box-shadow: 1px 2px 10px #cacaca;
    margin-bottom: 20px;
}
.wht_box img{
    max-width: 100%;
}
.wht_box h3{
    margin-top: 0;
    color: #4c4c4c;
    margin-bottom: 25px;
}
.wht_box span{
    text-align: left;
    margin-top: 10px;
    display: block;
    font-weight: bold;
}
.wht_box p{
    margin-top: 10px;
    line-height: 22px;
}
.send_message_tab{
    background: #bf0404;
    height: 40px;
    position: relative;
}
/*.send_message_tab .container{
    background: #fff;
}*/
.click_mess{
    text-align: center;
    padding: 15px 25px;
    border-radius: 5px;
    background: #bf0404;
    color: #fff;
    position: absolute;
    top: -35px;
    cursor: pointer;
}
.send_box_bg{
    background: rgba(191, 4, 4, 0.65);
    position: absolute;
    width: 100%;
    bottom: 25px;
}
.send_message{
    display: none;
    /*background: #bf0404;*/
    padding: 30px;
}
.send_message form{
    width: 50%;
    margin: 0 auto;
    background: #fff;
    padding: 30px;
}
.send_message form h3{
    text-align: center;
}
.send_message form input{
    width: 100%;
    height: 40px;
    margin-top: 15px;
    padding-left: 8px;
}
.send_message form textarea{
    padding-left: 8px;
    width: 100%;
    height: 80px;
    margin-top: 15px;
}
.send_message form button{
    width: 130px;
    height: 40px;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
}
.buttons_area{
    padding: 50px 0px;
    background: url('../images/justice-013.jpg') center no-repeat;
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
}
.button_group{
   /* width: 50%;*/
    margin: 0 auto;
    /*background: #ccc;*/
}
.button_group .row{
    padding-bottom: 25px;
}
.button_group .button_box{
    width: 100%;
    height: 270px;
    background: #4c4c4c;
    border-radius: 5px;
}
.button_group .help{
    background: url('../images/helping-people-620x350.jpg') center no-repeat;
    background-size: cover;
}
.button_group .rights{
    background: url('../images/know-your-rights-as-a.jpg') center no-repeat;
    background-size: cover;
}
.button_group .who_help{
    background: url('../images/image-20160816-13028-8vzw97.jpg') center no-repeat;
    background-size: cover;
}
.button_group .manifesto{
    background: url('../images/Books-That-Will-Make-You-Proud-And-Satisfied-To-Have-Read.jpg') center no-repeat;
    background-size: cover;
}
.button_group .button_box a{
    line-height: 270px;
    width: 100%;
    height: 100%;
    display: block;
    color: #fff;
    padding: 15px;
    font-size: 20px;
    border: 2px solid #4c4c4c;
   /* border: 2px solid #bf0404;*/
}
.button_group .button_box a span{
    border: 2px solid #4c4c4c;
    display: block;
    height: 100%;
    transition-duration: 0.6s;
    color: #4c4c4c;
    font-weight: bold;
}
.button_group .button_box a:hover span{
    background: rgba(255, 255, 255, 0.75);
    transition-duration: 0.6s;
}
footer{
    padding-top: 30px;
    background: #1b1b1b;
}
.ft_logo{
    width: 180px;
    height: 80px;
    /*float: left;*/
  /*  background: #ccc;*/
    margin: 0 auto;
}
.ft_logo img{
    max-width: 100%;
}
.footer_menu{
    color: #fff;
}
.footer_menu ul{
    text-align: center;
    margin: 25px 0px;;
}
.footer_menu ul li{
    display: inline-block;
}
.footer_menu ul li a{
    padding: 5px 10px;
    color: #fff;
    text-transform: uppercase;
}
.copyright{
    color: #fff;
}
.copyright .copy{
    float: left;
}
.copyright .powered{
    float: right;
}
.campaign_area{
    background: #fff;    
    height: 100%;
}
.campaign_area .col-lg-6, .col-lg-3, .col-lg-5, .col-lg-4{
    padding: 0;
}/*
.demo-gallery{
    display: inline-block;
}*/
.gallery_box {
    height: 260px;
    width: 100%;
    display: inline-block;
}
.gallery_box a{
    width: 100%;
    display: block;
    height: 100%;
    color: #4c4c4c;
}
.gallery_box a img{
    max-width: 100%;
}
.gallery_box .overlay{
    position: absolute;
    top: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    color: #fff;
    opacity: 0;
    transition: opacity 0.6s ease;
    padding: 20px;
}

.border{
    border: 1px solid #fff;
    height: 100%;
    padding: 0px 15px;
    padding-top: 20px;
}
.gallery_padd{
    padding: 20px;
    height: 100%;
}
.gallery_padd h2{
    color: #fff;
}
.gallery_padd .border{
    padding: 0px;
    border-color: #fff;
}
a .know_mor{
    width: 100%;
}
a .know_mor .border{
    border-color: #4c4c4c;
    transition-duration: 0.6s;
}
a .know_mor:hover .border{
    background: #bf0404;
    color: #fff;
    transition-duration: 0.6s;
}
a .know_mor h3{
    line-height: 220px;
}
.gallery_box a:hover .overlay{
    opacity: 1;
}
.lg-download{
    display: none;
}
.portfolio_gallery .gallery_box a .overlay h4{
    margin-top: 80px;
    font-size: 22px;
    font-size: 26px;
}
/************ **/
.cam_img_1,
.cam_img_2,
.cam_img_3,
.cam_img_4{
    background: url('../images/-Clausura-CU-w-pencils-1_old.jpg') no-repeat center;
    background-size: cover;
}
#slide-gallery .row{
    margin: 0;
}
.gallery_box h2,
.gallery_box h3{
    line-height: 190px;
    text-align: center;
    margin: 0;
}


/******* Inner Page Style **********/

.about_page .banner{
    height: 325px;
}
.inner_page_menu{
    top: 280px;
}
.about_page .introduction .we_are{
    text-align: left;
}
.about_page .chapter{
    background: url('../images/-Clausura-CU-w-pencils_blk-1.jpg') center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.about_page .chapter_box{
    background: #fff;
    padding: 30px;
    display: inline-block;
    width: 100%;
    margin-top: 20px;
}
.about_page .news{
    display: block;
}
.about_page .chapter_box img{
    max-width: 100%;
}
.about_page .chapter .we_are{
    width: 100%;
}
.about_page .chapter h1{
    color: #fff;
}
.about_page .whats_new{
    background: #fff;
}
.wht_box a{
    padding: 10px 25px;
    display: inline-block;
    background: #bf0404;
    border: 1px solid #bf0404;
    color: #fff;
    transition-duration: 0.5s;
}
.wht_box a:hover{
    border: 1px solid #bf0404;
    background: #fff;
    color: #bf0404;
    transition-duration: 0.5s;
}
.about_page .impact{
    background: url('../images/-Clausura-CU-w-pencils-1.jpg') center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
.about_page .impact .wht_box{
    width: 80%;
    box-shadow: none;
    display: inline-block;
}
.about_page .impact .wht_box h1{
    font-weight: bold;
    border-color: #bf0404;
    color: #bf0404;
}
.about_page .impact .wht_box p{
    margin-top: 20px;
    line-height: 24px;
}
.about_page .impact .wht_box a{
    margin-top: 20px;
}
.about_page .impact .hw_wrk{
    text-align: left;
    padding: 20px;
}
#ninja-slider,
#ninja-slider_1,
#ninja-slider_2{
    max-width: none;
    padding: 0;
}
#ninja-slider div.content img,
#ninja-slider_1 div.content img,
#ninja-slider_2 div.content img{
    width: 100%;
    float: none;
    margin: 0;
}
#ninja-slider div.content h3,
#ninja-slider_1 div.content h3,
#ninja-slider_2 div.content h3{
    font-size: 26px;
    text-align: left;
    color: #4c4c4c;
}
#ninja-slider div.content,
#ninja-slider_1 div.content,
#ninja-slider_2 div.content{
    color: #000;
    text-transform: capitalize;
    font-size: 14px;
    text-transform: none;
    text-align: left;
    padding: 0;
}
#ninja-slider-prev, #ninja-slider-next{
    top: 57%;
}
#ninja-slider-prev{
    left: -30px;
}
#ninja-slider-next{
    right: -30px;
}
.supp_stud .introduction span{
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 15px;
    display: block;
}
.supp_stud .introduction span i{
    margin-right: 10px;
}
.supp_stud .introduction p{
    margin-left: 15px;
}
.supp_stud .introduction a{
    padding: 10px 35px;
    background: #bf0404;
    color: #fff;
    display: inline-block;
    margin-top: 20px;
}
.supp_stud .seek_help{
    color: #fff;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
}
.supp_stud .seek_help a{
    margin-bottom: 20px;
    transition-duration: 0.6s;
    background: #fff;
    color: #000;
}
.supp_stud .seek_help a:hover{
    background: #bf0404;
    color: #fff;
    transition-duration: 0.6s;
}
.help_form .modal-header{
    text-align: center;
    background: #bf0404;
    color: #fff;
}
.help_form  .help_filed{
    display: inline-block;
}
.help_form  .help_filed input{
    width: 100%;
    height: 40px;
    margin-top: 15px;
    padding-left: 8px;
}
.help_form  .help_filed textarea{
    width: 100%;
    height: 100px;
    padding-left: 8px;
    margin-top: 15px;
}
.help_form  .help_filed .btn{
    width: 120px;
    margin-top: 20px;
}
.supp_colle .introduction span{
    font-weight: 300;
    line-height: 24px;
    font-size: 14px;
}
.supp_us .donation h3{
    text-transform: uppercase;
}
.supp_us .donation{
    background: rgba(139, 195, 74, 0.6);
}
.supp_us .coprate_supp h1{
    font-size: 28px;
}
.about_page .chapter_box h3{
    background: #4c4c4c;
    padding: 10px 10px;
    color: #fff;
    width: 95%
}
ul.sub_menu{
    position: absolute;
    background: rgba(35, 35, 35, 0.95) !important;
    list-style: none;
    padding-left: 0;
}
ul.sub_menu li{
    display: list-item;
}
ul.sub_menu li a{
    
}
.stellarnav.light .menu-toggle{
    color: #fff;
}
.stellarnav.mobile.light ul{
    background: rgb(27, 24, 24);
}
.supp_stud .introduction a.know_rights{
    padding: 5px;
    background: none;
    color: #2196F3;
    display: inline-block;
    margin-top: 0px;
}
























@media only screen and (max-width:1199px){
    .send_message form{
        width: 70%;
    }
}
@media only screen and (max-width:767px){
    .send_message form{
        width: 90%;
    }
    .text{
        padding: 0;
    }
    .text h2{
        margin-left: 0;
    }
    .text h1, .text h2{
        font-size: 40px;
    }
    .wht_box{
        width: 90%;
        padding: 30px 10px;
    }
    /*.main_menu ul{
        list-style: none;
        padding-left: 0;
    }
    .main_menu ul li{
        display: list-item;
    }*/
    .footer_menu ul{
        list-style: none;
        padding-left: 0;
    }
    .footer_menu ul li{
        display: list-item;
    }
    .footer_menu ul li a{
        padding: 10px;
        display: block;
    }
    .copyright{
        text-align: center;
    }
    .copyright .copy{
        float: none;
    }
    .copyright .powered{
        float: none;
    }
}
@media only screen and (max-width:420px){
    .send_message form{
        width: 100%;
    }
    .send_message{
        padding: 30px 0px;
    }/*
    .wht_box{
        width: 100%;
        padding: 30px 20px;
    }*/
    .text{
        margin: 25px;
    }
    .text h2,
    .text h1{
        margin-top: 0;
    }
    .banner{
        height: 450px;
    }
    .inner_page_menu{
        top: 285px !important;
    }
    .menu{
        top: 440px;
    }
    .introduction .we_are{
        width: 100%;
    }
    .about_page .impact .wht_box{
        width: 95%;
        padding: 30px 10px;
    }
    .about_page .impact .hw_wrk{
        padding: 0;
    }
    .send_box_bg{
        background: #bf0404;
    }
}

